#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# this is only for the mysqld standalone daemon
[mysqld]
user=mysql
bind-address=0.0.0.0
